[source,bash]
----
$ curl {{url}} {{options}}
----
NOTE: On Windows you will need to replace the single quote (') with double quotes (") and escape the double quotes (\") in order to make the command above work on Windows.