.Request Fields
|===
    |Path|Type|Description|Constraint

{{#fields}}
    |{{#tableCellContent}}`+{{path}}+`{{/tableCellContent}}
    |{{#tableCellContent}}`+{{type}}+`{{/tableCellContent}}
    |{{#tableCellContent}}{{description}}{{/tableCellContent}}
    |{{#tableCellContent}}{{constraints}}{{/tableCellContent}}

{{/fields}}
|===